@import "tailwindcss";
@reference "./theme.css";
@import "tailwindcss/preflight.css" layer(base);


@layer theme, base;

@layer base {

  html {
    font-size: 16px;
    overflow: auto;
  }

  body {
    /* @apply overflow-auto; */
  }

  *,
  *::before,
  *::after {
    @apply box-border bg-clip-padding;
  }

  * {
    @apply m-0 p-0 list-none scroll-smooth outline-none font-mono;
  }

  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  small,
  input,
  button,
  textarea,
  select {
    @apply text-sm font-normal text-neutral;
  }

  a {
    @apply no-underline;
  }

  #root {
    @apply bg-background relative min-h-[100dvh] h-[100dvh] min-w-[100dvw] w-[100dvw] overflow-x-hidden overflow-y-auto flex flex-col justify-center items-center;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply box-border block;
  }

  input,
  button {
    @apply focus:outline-none;
  }

  svg {
    @apply stroke-[1.5px];
  }
}