@font-face {
  font-family: "Sometype Mono";
  src: url("../fonts/SometypeMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 500 600 700;
  font-display: auto;
}
