# name: arrhes-application

services:
  # Database (PostgreSQL)
  postgres:
    image: postgres:18.1
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: default
    ports:
      - "5432:5432" # Postgresql
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d default"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Object storage (RustFS)
  rustfs:
    image: rustfs/rustfs:latest
    restart: unless-stopped
    environment:
      RUSTFS_CONSOLE_ENABLE: true
      RUSTFS_ACCESS_KEY: rustfsadmin
      RUSTFS_SECRET_KEY: rustfsadmin
      RUSTFS_VOLUMES: /data
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Web UI
    volumes:
      - rustfs_data:/data
    init: true
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:9000 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Mail server (Mailpit)
  mailpit:
    image: axllent/mailpit:latest
    restart: unless-stopped
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:8025 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # API (Node.js)
  api:
    build:
      context: .
      dockerfile: .dev/packages/api/Dockerfile
      args:
        NODE_VERSION: "25.2.1"
        PNPM_VERSION: "10.26.1"
    volumes:
      - .:/workspace:delegated
      - root_node_modules:/workspace/node_modules         # hoisted workspace node_modules
      - api_node_modules:/workspace/packages/api/node_modules  # per-package mask if needed
      - api_env:/workspace/packages/api/.env              # masked .env file (will be created inside container)
      - pnpm_store:/root/.pnpm-store                      # pnpm store kept in docker volume (optional)
    working_dir: /workspace/packages/api
    command: pnpm --filter="@arrhes/@arrhes/platform-api" dev
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - rustfs
      - mailpit


volumes:
  api_node_modules:
  api_env:
  root_node_modules:
  pnpm_store:
  postgres_data:
    name: arrhes_postgres_data
    external: true
  rustfs_data:
    name: arrhes_rustfs_data
    external: true
