@layer reset, base, tokens, recipes, utilities;

@layer base {
  html {
    font-size: 16px;
    overflow: auto;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    background-clip: padding-box;
  }

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Sometype Mono", monospace;
  }

  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  small,
  input,
  button,
  textarea,
  select {
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--colors-neutral);
  }

  a {
    text-decoration: none;
  }

  #root {
    background-color: var(--colors-background);
    position: relative;
    min-height: 100dvh;
    height: 100dvh;
    min-width: 100dvw;
    width: 100dvw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    box-sizing: border-box;
    display: block;
  }

  input,
  button {
    outline: none;
  }

  input:focus,
  button:focus {
    outline: none;
  }

  svg {
    stroke-width: 1.5px;
  }
}
